<!DOCTYPE HTML>
<html>
<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>Library</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">

    {# My variables #}
    {% set role_admin = app.user and app.user.hasRole('ROLE_ADMIN') %}
    {% set role_user = app.user and app.user.hasRole('ROLE_USER') %}

</head>
<body style="padding-top: 70px;">
{% block navbar %}
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="{{ path('library_homepage') }}">Bibliothèque</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li {% if app.request.attributes.get('_route') == 'library_homepage' %}class="active"{% endif %}>
                        <a href="{{ path('library_homepage') }}">Présentation</a>
                    </li>
                    <li class="dropdown {% if app.request.attributes.get('_route') == 'library_category' %} active{% endif %}">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Catégories <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            {{ render(controller('LibraryBundle:Category:categories')) }}
                        </ul>
                    </li>
                    <li {% if app.request.attributes.get('_route') == 'library_news' %}class="active"{% endif %}>
                        <a href="{{ path('library_news') }}">Nouveautés</a>
                    </li>
                    <li {% if app.request.attributes.get('_route') == 'library_search' %}class="active"{% endif %}>
                        <a href="{{ path('library_search') }}">Rechercher</a>
                    </li>
                </ul>
                {% if app.session.get('cart') and app.session.get('cart').size > 0 %}

                        <a href="{{ path('library_show_cart') }}" class="btn btn-primary navbar-btn"><i class="fa fa-shopping-cart"></i> Voir panier <span class="badge">{{ app.session.get('cart').size }}</span></a>

                {% endif %}
                <ul class="nav navbar-nav navbar-right">
                    {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                        {% if app.user.hasRole('ROLE_ADMIN') %}
                            <li>
                                <a href="{{ path('library_admin') }}"><i class="fa fa-terminal"></i> Espace admin</a>
                            </li>
                        {% endif %}
                        <li>
                            <a href="{{ path('fos_user_profile_show') }}">
                                {{ 'layout.logged_in_as'|trans({'%username%': app.user.username}, 'FOSUserBundle') }}
                            </a>
                        </li>
                        <li>
                            <a href="{{ path('fos_user_security_logout') }}">{{ 'layout.logout'|trans({}, 'FOSUserBundle') }}</a>
                        </li>
                    {% else %}
                        <li>
                            <a href="{{ path('fos_user_security_login') }}">{{ 'layout.login'|trans({}, 'FOSUserBundle') }}</a>
                        </li>
                    {% endif %}
                </ul>
            </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
    </nav>
{% endblock %}
<div class="container">
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            {% block body %}
            {% endblock %}
        </div>
    </div>
</div>

{% block js %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <script src="//cdn.ckeditor.com/4.5.5/standard/ckeditor.js"></script>
    <script>
        $(function () {
            $('[data-toggle="tooltip"]').tooltip()
        })
    </script>
{% endblock %}
</body>
</html>