{% extends "::base.html.twig" %}

{% block body %}
	<h2>
		{{ author.name }}
		{% if role_admin %}
			<a href="{{ path('library_edit_author', {'slug': author.slug}) }}"><i class="fa fa-pencil"></i></a><br/>
		{% endif %}
	</h2>
	{% for book in books %}
		<div class="col-md-3">
			<div class="panel panel-default">
				<div class="panel-heading">
					<h3 class="panel-title"><a href="{{ path('library_book', {'slug': book.slug}) }}">{{ book.title }}</a> {% if book.isNew == 1 %}<span class="label label-warning"><i class="fa fa-star"></i> New</span>{% endif %}</h3>
				</div>
				<div class="panel-body">
					<ul class="list-unstyled">
						<li>Categorie : <a href="{{ path('library_category', {'slug': book.category.slug}) }}">{{ book.category.name }}</a></li>
						<li>Auteur : <a href="{{ path('library_author', {'slug': book.author.slug}) }}">{{ book.author.name }}</a></li>
					</ul>
				</div>
			</div>
		</div>
	{% else %}
		Cet auteur n'a aucun livre.<br/>
		{% if role_admin %}
			<a class="btn btn-primary btn-lg" href="{{ path('library_add_book') }}"><i class="fa fa-book"></i> Ajoutez-en un !</a>
		{% endif %}
	{% endfor %}
{% endblock %}