{% extends "::base.html.twig" %}

{% block body %}
	<h2>{{ book.title }} <span class="text-muted">
		{% if app.user and app.user.hasRole('ROLE_ADMIN') %}
			<a href="{{ path('library_edit_book', {'slug': book.slug}) }}"><i class="fa fa-pencil"></i></a><br/>
		{% endif %}
		by <a href="{{ path('library_author', {'slug': book.author.slug}) }}">{{ book.author.name }}</a></span>
	</h2>
	{% if book.isNew == 1 %}<span class="label label-default">New</span>{% endif %}
	Dans la catégorie <a href="{{ path('library_category', {'slug':book.category.slug}) }}">{{ book.category.name }}</a><br/>

	<h3>Table of contents</h3>
	<div>{{ book.toc }}</div>
{% endblock %}