{% trans_default_domain 'FOSUserBundle' %}

<div class="fos_user_user_show">
    <h1>Profil de l'utilisateur</h1>
    <p>{{ 'profile.show.username'|trans }}: {{ user.username }}</p>
    <p>{{ 'profile.show.email'|trans }}: {{ user.email }}</p>
    <a href="{{ path('fos_user_change_password') }}">Modifier mon mot de passe</a>
    <h3>Tous mes prêts</h3>
    {% for loan in user.loans|reverse %}
        {% if loop.first %}
            <table class="table table-striped table-hover table-bordered">
                <tr>
                    <th>Titre</th>
                    <th>Date d'emprunt</th>
                    <th>Rendu</th>
                    <th>Action</th>
                </tr>
        {% endif %}
        <tr>
            <td><a href="{{ path('library_book', {'slug': loan.book.slug}) }}">{{ loan.book.title }}</a></td>
            <td>{{ loan.startDate | date("d/m/Y") }}</td>
            <td>{% if loan.onGoing  %} <span class="label label-danger">Non</span>{% else %} <span class="label label-success">Oui</span>{% endif %}</td>
            <td class="text-center"><a href="{{ path('library_return', {'slug': loan.book.slug}) }}" class="btn btn-sm btn-primary {% if not loan.onGoing  %}disabled{% endif %}"><i class="fa fa-level-down"></i> Rendre</a></td>
        </tr>
        {% if loop.last %}
            </table>
        {% endif %}
    {% endfor %}
    {% if user.loans is empty %}
        <p>Aucun prêt</p>
    {% endif %}
</div>
