{% extends "::base.html.twig" %}

{% block body %}
	<h2>
		Catégorie : {{ category.name }}
		{% if app.user and app.user.hasRole('ROLE_ADMIN') %}
			<a href="{{ path('library_edit_category', {'slug': category.slug}) }}"><i class="fa fa-pencil"></i></a>
			{{ render(controller('LibraryBundle:Category:removeCategory', {'slug': category.slug })) }}
			{#<a href="{{ path('library_remove_category', {'slug': category.slug}) }}" onclick="return confirm('Etes vous sûr de vouoir supprimer cette catégorie et tous les livres et prêts associés ?')"><i class="fa fa-minus-circle text-danger"></i></a><br/>#}

		{% endif %}
	</h2>
	{% for book in books %}
		<div class="col-md-3">
			<div class="panel panel-default">
				<div class="panel-heading">
					<h3 class="panel-title"><a href="{{ path('library_book', {'slug': book.slug}) }}">{{ book.title }}</a> {% if book.isNew == 1 %}<span class="label label-warning"><i class="fa fa-star"></i> New</span>{% endif %}</h3>
				</div>
				<div class="panel-body">
					<ul class="list-unstyled">
						<li>Catégorie : <a href="{{ path('library_category', {'slug': book.category.slug}) }}">{{ book.category.name }}</a></li>
						<li>Auteur : <a href="{{ path('library_author', {'slug': book.author.slug}) }}">{{ book.author.name }}</a></li>
					</ul>
				</div>
			</div>
		</div>
	{% else %}
		Cette catégorie ne comporte aucun livre.<br/>
		{% if role_admin %}
			<a class="btn btn-primary btn-lg" href="{{ path('library_add_book') }}"><i class="fa fa-book"></i> Ajoutez-en un !</a>
		{% endif %}
	{% endfor %}

{% endblock %}